.page.cart
  max-width: 720px
  min-width: 500px
  margin: 0 60px 0 260px
  width: auto

  @media screen and (max-width: $break-small)
    max-width: none
    min-width: 0
    margin: 0

    h1
      padding-top: 23px

  .cart_items
    font-size: 15px

    @media screen and (max-width: $break-small)
      margin-top: 32px
      padding: 0 32px

    .cart_item
      +flexbox
      +justify-content(flex-start)
      +align-items(center)
      border-top: 1px solid #{"{{ theme.border_color }}"}
      font-size: 16px
      padding: 10px

      @media screen and (max-width: $break-small)
        padding: 23px 0 32px
        width: 100%

      .cart_product_image_link
        background-position: center center
        background-repeat: no-repeat
        display: block
        height: 70px
        width: 70px

        img
          object-fit: cover
          width: 100%

      .cart_product_detail
        line-height: 25px
        padding: 0 50px 0 20px
        width: 55%

        @media screen and (max-width: $break-small)
          padding: 0 30px 0 15px
          width: 57%

      .item-quantity-label
        border: 0
        clip: rect(0 0 0 0)
        height: 1px
        margin: -1px
        overflow: hidden
        padding: 0
        position: absolute
        width: 1px

      input[type=text]
        font-size: 16px
        text-align: center
        width: 44px

      .cart_item_price
        padding-left: 20px

      .cart_item_remove
        margin-left: auto

        .remove-item
          background: url(#{"{{ 'remove.png' | theme_image_url }}"}) 0 0 no-repeat
          border: none
          @include background-size(22px 22px)
          cursor: pointer
          height: 22px
          text-indent: -9999px
          width: 22px

          &.loading
            background: url(#{"{{ 'loading.png' | theme_image_url }}"}) 0 0 no-repeat
            @include animation(spin 1s infinite linear)

  .cart_footer

    @media screen and(max-width: $break-small)
      padding: 0 32px
      width: 100%

  .cart_subtotal
    +flexbox
    +align-items(center)
    border-top: 1px solid #{"{{ theme.border_color }}"}
    font-size: 15px
    padding: 20px 10px

    @media screen and (max-width: $break-small)
      padding: 20px 0

  .cart_subtotal_label
    text-align: right
    width: calc(50px + 55% + 45px)

    @media screen and (max-width: $break-small)
      text-align: left
      width: auto

  .cart_subtotal_amount
    font-size: 24px
    padding-left: 18px
    text-align: left

    @media screen and (max-width: $break-small)
      margin-left: auto
      text-align: right

  .cart_submit
    border-top: 1px solid #{"{{ theme.border_color }}"}
    padding: 20px
    padding-left: calc(50px + 55% + 62px)

    @media screen and (max-width: $break-small)
      border-top: none
      padding-left: 20px
      text-align: center

      button
        width: 60%

  .cart_empty
    font-size: 15px

    @media screen and (max-width: $break-small)
      h1
        margin-bottom: 10px
        padding-top: 29px

      p
        line-height: 1.5em
        padding: 23px 32px
