%center-vertical
  display: table-cell
  height: 50px
  vertical-align: middle

.page.cart
  max-width: 720px
  min-width: 500px
  margin: 0 60px 0 260px

  h1
    display: none

  @media screen and (max-width: $break-small)
    max-width: none
    min-width: 0
    margin: 0

  form > ul
    li
      border-top: 1px solid {{ theme.border_color }}
      height: 70px
      padding: 10px

    .col1,
    .col2
      @extend %clearfix
      float: left
      height: 50px
      width: 70%

      > div
        float: left

    .col2
      float: right
      width: 28%

      p
        @extend %center-vertical

    .label
      font-size: 11px
      font-weight: 700
      line-height: 50px
      text-align: right
      width: 100%


    .cart_item
      .product_image
        background-position: center center
        background-repeat: no-repeat
        float: left
        display: block
        height: 50px
        margin-right: 10px
        overflow: hidden
        text-indent: -9999px
        width: 50px

        @media screen and (max-width: $break-small)
          width: 80px

          img
            max-width: 100% !important

      p
        @extend %center-vertical

        a
          display: block
          font-size: 11px
          font-weight: 700
          line-height: 14px

      input[type=text]
        float: right
        margin: 8px 0 0
        text-align: center
        width: 42px

        @media screen and (max-width: $break-small)
          display: none

      div.remove
        float: right

      a.remove
        background: url(#{"{{ 'fancybox_sprite.png' | theme_image_url }}"}) -6px -4px no-repeat
        display: block
        height: 23px
        float: right
        overflow: hidden
        text-indent: -9999px
        width: 23px

        &.loading
          background: url(#{"{{ 'loading.png' | theme_image_url }}"}) 0 0 no-repeat
          @include animation(spin 1s infinite linear)

        @media screen and (max-width: $break-small)
          background: url(#{"{{ 'remove2x.png' | theme_image_url }}"}) 0 0 no-repeat
          @include background-size(16px 16px)
          height: 16px
          margin-right: 6px
          width: 16px

    .discount
      input[type=text]
        padding: 0 10px

      .col2
        line-height: 28px

      .label
        font-weight: 700

    .total
      font-weight: 700

      @media screen and (max-width: $break-small)
        padding: 0 16px

        .col1,
        .col2,
        .label
          display: inline
          width: auto

        .label
          font-size: 12px

      .col2 p
        @extend %center-vertical

      b
        font-size: 20px

        @media screen and (max-width: $break-small)
          font-size: 12px

      span
        display: block
        font-style: italic
        font-weight: normal

        @media screen and (max-width: $break-small)
          display: inline

        &.currency_sign
          display: inline
          font-style: normal
          font-weight: inherit

    .submit
      padding-left: 66%

      @media screen and (max-width: $break-small)
        border: none
        padding: 0 16px

      button
        margin: 10px 0 0 35px

        @media screen and (max-width: $break-small)
          margin: 0
          width: 100%

  .cart_empty
    @media screen and (max-width: $break-small)
      h1
        display: block
        margin-bottom: 10px

      p
        text-align: center
