#contact
  .errors
    max-width: 600px

  @media screen and (max-width: $break-small)
    h1
      padding: 16px 16px 0

    .errors
      margin: 16px 16px 0
      max-width: 100%

form.contact
  max-width: 600px

  @media screen and (max-width: $break-small)
    max-width: none
    padding: 16px

  .contact-field
    @extend %clearfix
    border-top-color: #{"{{ theme.border_color }}"}
    border-top-style: solid
    border-top-width: 1px
    margin-top: 15px
    padding-top: 15px

    @media screen and (max-width: $break-small)
      border: none
      margin-top: 20px
      padding-top: 0

      &:last-child
        margin-top: 0

    &:first-child
      border: none
      margin: 0
      padding: 0


  label
    display: block
    font-size: 16px
    font-weight: 700
    margin-bottom: 10px

  input[type=text],
  textarea
    height: 44px
    font-size: 16px
    width: 100%

  textarea
    height: 140px

  .captcha
    margin-bottom: 0

    .captcha-instructions
      display: block
      font-size: 14px
      margin-bottom: 15px

    label
      margin-bottom: 3px

    input
      float: left
      margin: 0 15px 0 0
      max-width: 150px

      @media screen and (max-width: $break-small)
        max-width: none
        margin: 0 4% 0 0
        width: 48%

    b
      @media screen and (max-width: $break-small)
        background: #fff
        @include border-radius(3px)
        display: block
        float: left
        text-align: center

    img
      @include border-radius(3px)
      display: block
      height: 44px


  button
    @media screen and (max-width: $break-small)
      display: block
      margin-top: 32px
      width: 60%
