#contact
  .errors
    max-width: 600px

  @media screen and (max-width: $break-small)
    h1
      padding: 16px 16px 0

    .errors
      margin: 16px 16px 0
      max-width: 100%

form.contact
  max-width: 600px

  @media screen and (max-width: $break-small)
    max-width: none
    padding: 16px

  .contact-field
    @extend %clearfix
    margin-top: 15px
    padding-top: 15px

    @media screen and (max-width: $break-small)
      border: none
      margin-top: 20px
      padding-top: 0

      &:last-child
        margin-top: 0

    &:first-child
      border: none
      margin: 0
      padding: 0

  label
    display: block
    font-size: 16px
    font-weight: 700
    margin-bottom: 10px

  input[type=text],
  textarea
    height: 44px
    font-size: 16px
    width: 100%

  textarea
    height: 140px

  .captcha
    margin-bottom: 0

  .recaptcha-note
    display: block
    font-size: 14px
    margin-bottom: 15px

  button
    @media screen and (max-width: $break-small)
      display: block
      margin-top: 32px
      width: 60%
