.custom .page
  max-width: 800px

  @media screen and (max-width: $break-small)
    max-width: 100%

  h1
    @media screen and (max-width: $break-small)
      text-align: center

  img
    display: inline-block
    margin: 0 auto
    max-width: 100%
    margin-bottom: 16px

  iframe
    display: block
    margin: 0 auto
    max-width: 100%
    margin-bottom: 16px