@import 'config'

.maintenance-page
  --font-scale: 1
  --shop-name-scale: 1
  --product-grid-scale: 1
  --product-title-scale: 1
  --product-description-scale: 1
  --header-scale: 1
  --footer-scale: 1
  font-size: 16px
  padding: 100px 20px

  a,
  a:visited
    color: var(--link-color)
    text-decoration: underline

    &:hover
      color: var(--link-hover-color)

  .maintenance-content
    display: grid
    height: auto
    justify-content: center
    gap: 48px
    padding: 32px
    margin: 0 auto
    max-width: 720px
    text-align: center
    width: 100%

    @media screen and (max-width: $break-small)
      padding: 16px

    h1
      font-size: 2.2em
      font-weight: 600
      margin: 0

      @media screen and (max-width: $break-small)
        font-size: 1.8em

    .maintenance-message
      font-size:  1.125em

      @media screen and (max-width: $break-small)
        font-size: 1em

  .social-icons
    a
      svg
        width: 20px
        heigth: 20px

    @media screen and (max-width: $break-small)
      a
        svg
          width: 18px
          heigth: 18px
    
