@import 'config'

.maintenance-page
  padding: 100px 20px

  a,
  a:visited
    color: var(--link-color)
    text-decoration: underline

    &:hover
      color: var(--link-hover-color)

  .maintenance-content
    display: grid
    height: auto
    justify-content: center
    gap: 48px
    padding: 32px
    margin: 0 auto
    max-width: 600px
    text-align: center
    width: 100%

    h1
      font-size: 2em
      font-weight: 600
      margin: 0

    .maintenance-message
      font-size: 1.25em

  .social_icons
    display: flex
    gap: 30px
    list-style: none
    margin: 0
    padding: 0
    flex-wrap: wrap
    justify-content: center

    @media screen and (max-width: $break-small)
      gap: 24px

    a
      color: var(--body-text-color)
      display: flex
      align-items: center
      justify-content: center
      flex-shrink: 0
      outline-offset: 4px
      width: 22px
      height: 22px

      &:hover, &:focus
        color: var(--link-hover-color)

      svg
        fill: currentColor
        height: 22px
        width: 22px

        &.tumblr-icon
          width: 14px