.page.products
  margin: 0 30px 0 260px

  @media screen and (max-width: $break-small)
    margin: 0

    h1
      padding-top: 23px

.products_list
  @extend %clearfix
  @include flexbox
  @include flex-wrap(wrap)
  margin: 0 -15px

  &.grid
    @include flexbox
    @include flex-wrap(wrap)

  @media screen and (max-width: $break-small)
    margin: 32px 16px

  @media screen and (max-width: $break-extra-small)
    margin: 32px 0 0

  .product
    max-width: #{"{% if theme.product_list_size == 'small' %} 150px {% elsif theme.product_list_size == 'medium' %} 240px {% else %} 420px {% endif %}"}
    width: 100%

    img
      display: block
      max-width: 100%
      width: 100%

    @media screen and (max-width: $break-extra-small)
      max-width: 100%

  .product
    padding: 0 15px 30px
    overflow: hidden
    position: relative
    @include translateZ(0)

    @media screen and (max-width: $break-small)
      max-width: 50%
      width: 50%

    @media screen and (max-width: $break-extra-small)
      margin: 0 16px
      max-width: none
      width: auto

      img
        max-width: 100%
        width: 100%

    a
      display: block
      position: relative
      -webkit-font-smoothing: antialiased

      .overlay &:hover .product_info, .overlay &:focus .product_info
        @include opacity(1)

    .product_info
      font-weight: 700px
      padding: 15px
      text-align: center

      span
        font-size: 11px
        line-height: 1.2em
        margin: 0

      @media screen and (max-width: $break-small)
        color: #{"{{ theme.link_color }}"}
        font-size: 12px
        line-height: 1.4em
        padding-top: 16px

      .product_name
        display: block
        font-weight: bold

      p
        padding-top: 5px

      .overlay &
        @extend %transition
        @include flexbox
        @include justify-content(center)
        @include align-items(center)
        background-color: #{"{{ theme.link_color }}"}
        color: #{"{{ theme.background_color }}"}
        height: 100%
        left: 0
        @include opacity(0)
        position: absolute
        top: 0
        width: 100%

        > div
          display: table
          height: 100%
          width: 100%

        p
          display: table-cell
          height: 100%
          width: 100%
          vertical-align: middle

          .product_name,
          .sale,
          .price
            display: block
            font-weight: 700
            padding: 5px 30px

            @media screen and (max-width: $break-small)
              color: #{"{{ theme.background_color }}"}

        @media screen and (max-width: $break-small)
          background-color: transparent
          @include opacity(1)
          padding: 5px 0
          position: static

          > div,
          p
            display: block
            height: auto
            margin-bottom: 0
            width: auto

          p
            .product_name,
            .sale,
            .price
              color: #{"{{ theme.link_color }}"}
              padding: 5px 0 0

            .product_name
              font-weight: bold


.pagination
  display: none

.page-load-status
  font-size: 12px
  letter-spacing: 2px
  margin-top: 25px
  text-align: center

.infinite-scroll-message
  display: none

  p
    @extend %transition
    color: #{"{{ theme.text_color }}"}
    font-family: #{"{{ theme.font }}"}
    font-size: 11px
    text-align: center
    margin: 0 auto
