.product_detail
  display: flex
  flex-wrap: wrap

  @media screen and (max-width: $break-medium)
    display: grid

  .gallery
    max-width: 55%
    position: relative
    width: 100%

    @media screen and (max-width: $break-medium)
      margin-bottom: 24px
      max-width: 100%

    .product-image
      width: 100%

    .product-slideshow
      .splide__list
        align-items: flex-start
      .splide__slide
        transition: height .2s ease
      .splide__slide:not(.is-active)
        height: 0

    .product-thumbnail-slideshow
      margin-top: 12px

      @media screen and (max-width: $break-small)
        padding: 0 12px

      ul
        justify-content: center

      .splide__slide
        opacity: 0.8
        border: none !important

        img
          border: 2px solid transparent !important

        &:hover
          img
            border: 2px solid $link-hover-color !important

        &.is-active
          opacity: 1
          img
            border: 2px solid $border-color !important

        img
          width: 100%
          height: 100%
          object-fit: cover

.product_detail

  h1
    margin-bottom: 0

  .reset-selection-button-container
    display: none
    margin-bottom: 8px

  .detail
    float: left
    margin-left: 5%
    max-width: 390px
    width: 30%

    @media screen and (max-width: $break-medium)
      float: none
      margin-bottom: 25px
      margin-left: 0
      max-width: none
      width: 100%

    .artists
      color: $header-text-color
      font-size: 14px
      line-height: 1.5
      margin-bottom: 0

    .price
      color: $header-text-color
      font-size: 19px
      font-weight: 700
      margin: 10px 0

      i
        color: $highlight-color
        font-style: normal
        font-size: 14px

  #product-quantity
    display: none

  .product-form
    border-top-color: $border-color
    border-top-style: solid
    border-top-width: 1px
    padding-top: 16px
    display: grid
    gap: 12px
    padding-bottom: 4px

  .product_option_groups
    display: grid
    gap: 8px

  .product-description
    border-top-color: $border-color
    border-top-style: solid
    border-top-width: 1px
    padding-bottom: 16px
    padding-top: 16px

    a
      text-decoration: underline

  .availability
    border-top-color: $border-color
    border-top-style: solid
    border-top-width: 1px
    margin-top: 16px
    padding-top: 16px

    .availability-header
      font-size: 15px
      margin-bottom: 0

    ul
      margin-top: 16px

    li
      display: flex
      font-size: 13px
      font-weight: 700
      margin-bottom: 5px
      width: 100%
      padding: 5px
      position: relative

    .inventory-level-background
      background-color: $link-color
      border-radius: $border-radius
      color: $body-text-color
      height: 100%
      left: 0
      opacity: .1
      position: absolute
      top: 0

    .inventory-status
      font-style: normal
      margin-left: auto

.product-form-cart-linker
  display: grid
  grid-template-rows: 0fr
  transition: grid-template-rows .2s ease

  &.added
    grid-template-rows: 1fr

.product-form-cart-linker-slider
  overflow: hidden

a.product-form-cart-linker-link
  border: 2px solid $link-color
  border-radius: $border-radius
  color: $link-color
  font-family: $body-font
  font-weight: 700
  height: 50px
  padding: 0 16px
  display: flex
  gap: 6px
  justify-content: center
  align-items: center
  transition: border-color .2s ease, color .2s ease
  margin-bottom: 12px

  &:hover, &:focus
    border: 2px solid $link-hover-color
    color: $link-hover-color

  .arrow
    width: 12px
    transform: rotate(-90deg)

.f-carousel
  display: block
  margin: 0 auto
  width: 100%

.f-carousel__slide
  display: flex
  justify-content: center
  align-items: center

  img
    height: auto
    width: 100%