.product_detail
  padding-top: 60px

  select
    font-size: 12px
    margin-bottom: 18px

  .add-to-cart-button
    display: block
    max-width: 200px
    width: 100%

  .reset-selection-button-container
    max-width: 200px
    text-align: center
    width: 100%

    @media screen and (max-width: $break-small)
      max-width: 100%

  button.reset-selection-button
    display: none
    height: auto
    max-width: 100%
    line-height: normal
    margin: 20px auto 0
    padding: 4px
    width: auto

  @media screen and (max-width: $break-small)
    padding: 32px

  .gallery
    float: left
    max-width: 500px
    position: relative
    width: 65%

    @media screen and (max-width: $break-small)
      &.desktop-gallery
        display: none

    img
      display: block
      max-width: 100%
      width: 100%

    @media screen and (max-width: $break-medium)
      float: none
      margin-bottom: 25px
      max-width: none
      width: 100%

    ul
      +flexbox
      +justify-content(center)
      margin: 10px -5px
      text-align: center

      li
        @include transition(all .15s linear)
        padding: 0 5px
        max-width: 20%

        @media screen and (max-width: $break-small)
          max-width: 25%

        &.active
          @include opacity(0.25)

  .detail
    float: left
    margin-left: 5%
    max-width: 390px
    width: 30%

    @media screen and (max-width: $break-medium)
      float: none
      margin-bottom: 25px
      margin-left: 0
      max-width: none
      width: 100%

    h1
      height: auto
      margin-bottom: 10px

      @media screen and (max-width: $break-small)
        font-size: 16px
        margin-bottom: 0
        padding: 0

    .artists
      color: #{"{{ theme.header_color }}"}
      font-size: 12px
      line-height: 1.4
      margin-bottom: 0

      @media screen and (max-width: $break-small)
        display: inline
        line-height: 1.4

        &:after
          content: "/ "

    .price
      color: #{"{{ theme.header_color }}"}
      font-size: 16px
      font-weight: 700
      margin: 10px 0

      @media screen and (max-width: $break-small)
        display: inline
        font-size: 12px
        font-weight: normal
        margin: 0

      i
        color: #{"{{ theme.highlight_color }}"}
        font-style: normal
        font-size: 12px

    form
      border-top-color: #{"{{ theme.border_color }}"}
      border-top-style: solid
      border-top-width: 1px
      margin-top: 15px
      padding-top: 15px

      p,
      select
        min-width: 140px
        max-width: 200px
        width: 100%

        @media screen and (max-width: $break-small)
          font-size: 13px
          max-width: none
          min-width: none

      .button
        @media screen and (max-width: $break-small)
          font-size: 13px
          max-width: 100%
          width: 100%

    p
      font-size: 12px
      line-height: 18px

  .description
    border-top-color: #{"{{ theme.border_color }}"}
    border-top-style: solid
    border-top-width: 1px
    margin-top: 15px
    padding-bottom: 15px
    padding-top: 15px

    img
      margin-bottom: 20px
      max-width: 100%

    *:last-child
      margin-bottom: 0

  .availability
    border-top-color: #{"{{ theme.border_color }}"}
    border-top-style: solid
    border-top-width: 1px
    margin-top: 15px
    padding-top: 15px

    h5
      margin-bottom: 0

    ul
      margin-top: 15px

    li
      font-weight: 700
      height: 20px
      line-height: 20px
      margin-bottom: 5px
      width: 100%
      padding: 0 5px
      position: relative

    b
      background-color: #{"{{ theme.link_color }}"}
      @include border-radius(3px)
      color: #{"{{ theme.font_color }}"}
      height: 20px
      left: 0
      @include opacity(0.1)
      position: absolute
      top: 0

    i
      font-style: normal
      float: right



