<div class="page cart">
  {% unless cart.items == blank %}

    <form method="post" id="cart_form" action="/cart" accept-charset="utf8">
      <input type="hidden" name="utf8" value='✓'>
      <h1>Cart</h1>

      {% if errors != blank %}
        <ul class="errors">
          {% for error in errors %}
            <li>{% if forloop.length != 1 %}&bull; {% endif %}{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}


      <ul>
        {% for item in cart.items %}
          <li class="cart_item" data-item-id="{{ item.id }}">
            <div class="col1">
              <a href="{{ item.product.url }}" style="background-image: url('{{ item.product.image | product_image_url: "thumb" }}'); background-size: {% if item.product.image.width < item.product.image.height %}auto 50px;{% else %}50px auto;{% endif %}" class="product_image">
                {{ item.name }}
              </a>
              <div>
                <p class="detail">
                  <a href="{{ item.product.url }}">
                    {{ item.product.name }}
                  </a>
                  <span class="not_mobile">
                    {% unless item.product.has_default_option %}
                      {{ item.option.name }}
                    {% endunless %}
                  </span>
                  <span class="mobile_only">
                    {% unless item.product.has_default_option %}
                      {{ item.option.name }} /
                    {% endunless %}
                    {{ item.quantity }} @ {{ item.price | money: theme.money_format }}
                  </span>
                </p>
              </div>
              {{ item | item_quantity_input }}
            </div>
            <div class="col2">
              <div class="not_mobile">
                <p class="price">
                  {{ item.price | money: theme.money_format }}
                </p>
              </div>
              <div class="remove">
                <p>
                  <a href="#" title="Remove item" class="remove" data-item-id="{{ item.id }}">&times;</a>
                </p>
              </div>
            </div>
          </li>
        {% endfor %}

        <li class="total">
          <div class="col1">
            <p class="label">
              Subtotal:
            </p>
          </div>
          <div class="col2">
            <p>
              <b class="total_price">{{ cart.total | money: theme.money_format }}</b>
            </p>
          </div>
        </li>

        <li class="submit">
          <button type="submit" name="checkout" title="Checkout" class="button">
            Checkout Now
          </button>
        </li>

      </ul>
    </form>

  {% endunless %}
  <div class="cart_empty" {% if cart.items != blank %} style="display:none"{% endif %}>
    <h1>Your cart is empty</h1>
    <p>Sounds like a good time to <a href="/">start shopping</a>.</p>
  </div>

</div>
