<div class="page cart">
  <h1>Cart</h1>
  {% unless cart.items == blank %}

    <form method="post" id="cart_form" action="/cart" accept-charset="utf8">
      <input type="hidden" name="utf8" value='✓'>

      {% if errors != blank %}
        <ul class="errors">
          {% for error in errors %}
            <li>{% if forloop.length != 1 %}&bull; {% endif %}{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <ul class="cart_items">
        {% for item in cart.items %}
          <li class="cart_item" data-item-id="{{ item.id }}">
            <div class="cart_product_image">
              <a class="cart_product_image_link" href="{{ item.product.url }}">
                <img src="{{ item.product.image | product_image_url | constrain: 100, 100 }}" alt="{{ item.product.name | escape }}">
              </a>
            </div>
            <div class="cart_product_detail">
              <a href="{{ item.product.url }}">
                {{ item.product.name }}
              </a>
              <span class="not_mobile">
                {% unless item.product.has_default_option %}
                  {{ item.option.name }}
                {% endunless %}
              </span>
              <span class="mobile_only">
                {% unless item.product.has_default_option %}
                  {{ item.option.name }} /
                {% endunless %}
                <span class="cart_item_quantity_update">{{ item.quantity }}</span> @ <span class="cart_item_price_update">{{ item.price | money: theme.money_format }}</span>
              </span>
            </div>

            <div class="cart_item_quantity">
              <label class="item-quantity-label" for="item_{{ item.id }}_qty">Quantity</label>
              {{ item | item_quantity_input }}
            </div>

            <div class="cart_item_price not_mobile">
              <span class="cart_item_price_update">{{ item.price | money: theme.money_format }}</span>
            </div>

            <div class="cart_item_remove">
              <button aria-label="Remove item" title="Remove item" class="remove-item" data-item-id="{{ item.id }}">&times;</button>
            </div>
          </li>
        {% endfor %}
      </ul>

      <div class="cart_footer">
        <div class="cart_subtotal">
          <span class="cart_subtotal_label">Subtotal:</span>
          <span class="cart_subtotal_amount">{{ cart.total | money: theme.money_format }}</span>
        </div>
        <div class="cart_submit">
          <button type="submit" name="checkout" class="button">Checkout</button>
        </div>
      </div>

    </form>

  {% endunless %}
  <div class="cart_empty" {% if cart.items != blank %} style="display:none"{% endif %}>
    <p>Your cart is empty! Sounds like a good time to <a href="/">start shopping</a>.</p>
  </div>

</div>
