<div class="page products">
  <h1>{{ page.name }}</h1>
  {% paginate products from products.current by 20 %}

    {% if products != blank %}
      <ul class="products_list">
        {% for product in products %}
          <li class="product">
            <a href="{{ product.url }}">
              <img alt="Image of {{ product.name | escape }}" src="{{ product.image | product_image_url | constrain: 780 }}">
              <div class="product_info">
                <div>
                  <p>
                    <span class="product_name">{{ product.name }}</span>
                    <span class="{% if product.on_sale %}sale{% else %}price{% endif %} {{ product.status }}">
                      {{ product.default_price | money_with_sign }}
                      {% case product.status %}
                        {% when 'sold-out' %} / Sold Out
                        {% when 'coming-soon' %} / Coming Soon
                        {% when 'active' %} {% if product.on_sale %} / On Sale{% endif %}
                      {% endcase %}
                    </span>
                  </p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>

      <p class="pagination">
        {% if paginate.previous %}
          {% if paginate.previous.is_link %}
            <a href="{{ paginate.previous.url }}" class="previous circle">&larr; Previous</a>
          {% endif %}
        {% endif %}

        {% if paginate.next %}
          {% if paginate.next.is_link %}
           <a href="{{ paginate.next.url }}" class="next circle">&rarr; Next</a>
          {% endif %}
        {% endif %}
      </p>

    {% else %}

      <p class="alert noproducts">
        No products found.
      </p>

    {% endif %}

  {% endpaginate %}
</div>
