<div class="page product_detail">
  <div class="gallery desktop-gallery">
    <a href="{{ product.image | product_image_url | constrain: 2000 }}" class="fancybox" data-fancybox="gallery">
      <img
        alt="{{ product.name | escape }}"
        class="product-image primary-product-image blur-up lazyload"
        src="{{ product.image | product_image_url | constrain: 100 }}"
        data-srcset="
          {{ product.image | product_image_url | constrain: 400 }} 400w,
          {{ product.image | product_image_url | constrain: 550 }} 550w,
          {{ product.image | product_image_url | constrain: 800 }} 800w,
          {{ product.image | product_image_url | constrain: 1050 }} 1050w,
          {{ product.image | product_image_url | constrain: 1300 }} 1300w,
          {{ product.image | product_image_url | constrain: 1700 }} 1700w,
          {{ product.image | product_image_url | constrain: 1900 }} 1900w,
          {{ product.image | product_image_url | constrain: 2100 }} 2100w,
        "
        data-sizes="auto"
      >
    </a>
    <ul>
      {% for image in product.images offset: 1 %}
        <li{% if forloop.first %} active{% endif %}>
          <a href="{{ image | product_image_url | constrain: 2000 }}" class="fancybox" data-fancybox="gallery">
            <img
              alt="{{ product.name | escape }}"
              class="product-image secondary-product-image blur-up lazyload"
              src="{{ image | product_image_url | constrain: 100 }}"
              data-srcset="
                {{ image | product_image_url | constrain: 400 }} 400w,
                {{ image | product_image_url | constrain: 550 }} 550w,
                {{ image | product_image_url | constrain: 800 }} 800w,
                {{ image | product_image_url | constrain: 1050 }} 1050w,
              "
              data-sizes="auto"
            >
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="gallery mobile_only">
    <img
      alt="{{ product.name | escape }}"
      class="product-image primary-product-image blur-up lazyload mobile_gallery_viewer"
      src="{{ product.image | product_image_url | constrain: 100 }}"
      data-srcset="
        {{ product.image | product_image_url | constrain: 400 }} 400w,
        {{ product.image | product_image_url | constrain: 550 }} 550w,
        {{ product.image | product_image_url | constrain: 800 }} 800w,
        {{ product.image | product_image_url | constrain: 1050 }} 1050w,
        {{ product.image | product_image_url | constrain: 1300 }} 1300w,
        {{ product.image | product_image_url | constrain: 1700 }} 1700w,
      "
      data-sizes="auto"
    >
    <ul class="mobile_gallery">
      {% for image in product.images %}
        {% if forloop.length > 1 %}
          <li class="{% if forloop.first %}active{% endif %}">
            <a href="{{ image | product_image_url | constrain: 1500 }}">
              <img
                alt="{{ product.name | escape }}"
                class="product-image secondary-product-image blur-up lazyload"
                src="{{ image | product_image_url | constrain: 100 }}"
                data-srcset="
                  {{ image | product_image_url | constrain: 400 }} 400w,
                  {{ image | product_image_url | constrain: 550 }} 550w,
                  {{ image | product_image_url | constrain: 800 }} 800w,
                  {{ image | product_image_url | constrain: 1050 }} 1050w,
                "
                data-sizes="auto"
              >
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="detail">
    <h1>{{ product.name }}</h1>
    {% for artist in product.artists %}
      {% if forloop.first %}<p class="artists"> by {% endif %}
      {% if forloop.last and forloop.length > 1 %} and {% endif %}
      {{ artist.name }}
      {% if forloop.length > 2 %}, {% endif %}
      {% if forloop.last %}</p>{% endif %}
    {% endfor %}

    <p class="price">
      {% if product.variable_pricing %}
        {{ product.min_price | money: theme.money_format }} - {{ product.max_price | money: theme.money_format }}
      {% else %}
        {{ product.default_price | money: theme.money_format }}
      {% endif %}
      {% case product.status %}
        {% when 'sold-out' %}
          <i>/ Sold Out</i>
        {% when 'coming-soon' %}
          <i>/ Coming Soon</i>
      {% endcase %}
      {% if product.on_sale %}
        <i>/ On Sale</i>
      {% endif %}
    </p>

    {% if product.status == 'active' %}
      <form method="post" class="add product-form {% if theme.show_sold_out_product_options %}show-sold-out{% else %}hide-sold-out{% endif %}" action="/cart" accept-charset="utf8">
        <input type="hidden" name="utf8" value='✓'>
        {% if product.has_default_option %}
          {{ product.option | hidden_option_input }}
        {% else %}
          {% if product.has_option_groups %}
            <div class="product_option_groups">
              <input id="option" name="cart[add][id]" type="hidden" value="0">
              {% for option_group in product.option_groups %}
                <div class="select">
                  <select data-unavailable-text="(Unavailable)" data-sold-text="(Sold out)" data-group-id="{{ option_group.id }}" data-group-name="{{ option_group.name | escape }}" class="product_option_group" name="option_group[{{ option_group.id }}]" aria-label="Select {{ option_group.name | escape }}">
                    <option value="0" disabled="disabled" selected>Select {{ option_group.name }}</option>
                    {% for value in option_group.values %}
                      <option value="{{ value.id }}" data-name="{{ value.name | escape }}">{{ value.name }}</option>
                    {% endfor %}
                  </select>
                  <svg viewBox="0 0 15 7.6" enable-background="new 0 0 15 7.6"><path d="M15 1.1l-7.5 6.5-7.5-6.3 1-1.2 6.5 5.5 6.5-5.6z"/></svg>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="select">
              <select class="product_option_select" id="option" name="cart[add][id]" aria-label="Select option">
                <option value="0" disabled="disabled" selected>Select option</option>
                {% for option in product.options %}
                  <option value="{{ option.id }}" data-price="{{ option.price }}"{% if option.sold_out %} disabled="disabled" disabled-type="sold-out"{% endif %}>{{ option.name }} {% if option.sold_out %} (Sold out){% endif %}</option>
                {% endfor %}
              </select>
              <svg viewBox="0 0 15 7.6" enable-background="new 0 0 15 7.6"><path d="M15 1.1l-7.5 6.5-7.5-6.3 1-1.2 6.5 5.5 6.5-5.6z"/></svg>
            </div>
          {% endif %}
        {% endif %}
        <button class="button add add-to-cart-button" name="submit" type="submit" data-add-title="Add to Cart" data-sold-title="Sold out"{% if product.has_default_option %}{% else %}disabled="disabled"{% endif %}>Add to Cart</button>
        {{ store | instant_checkout_button: 'light', '36px' }}
        {% if product.has_option_groups %}
          <div class="reset-selection-button-container">
            <button class="button minimal-button reset-selection-button" type="reset">Reset selection</button>
          </div>
        {% endif %}
      </form>
    {% endif %}

    {% if product.description != blank %}
      <div class="description">
        {{ product.description | paragraphs }}
      </div>
    {% endif %}

    {% if theme.show_inventory_bars %}
      {% case product.status %}
        {% when 'active' %}
          <div class="availability">
            <h2 class="availability-header">Availability</h2>
            <ul>
              {% for option in product.options %}
                <li>
                  {% unless product.has_default_option %}
                    {{ option.name }}
                  {% endunless %}
                  <span class="inventory-status">
                    {% if option.sold_out %}
                      Sold Out
                    {% else %}
                      {{ option.inventory }}%
                    {% endif %}
                  </span>
                  <span class="inventory-level-background" style="width:{{ option.inventory }}%;"></span>
                </li>
              {% endfor %}
            </ul>
          </div>
      {% endcase %}
    {% endif %}
  </div>
</div>
