<div class="page product_detail">
  <div class="gallery desktop-gallery" style="max-width: {% if product.image.width > 500 %}{{ product.image.width }}{% else %}500{% endif %}px ">
    <a href="{{ product.image | product_image_url | constrain: 2000 }}" class="fancybox" rel="group">
      <img src="{{ product.image | product_image_url | constrain: 1500  }}" alt="{{ product.name | escape }}">
    </a>
    <ul>
      {% for image in product.images offset: 1 %}
        <li{% if forloop.first %} active{% endif %}>
          <a href="{{ image | product_image_url | constrain: 2000 }}" class="fancybox" rel="group">
            <img src="{{ image | product_image_url | constrain: 300 }}" alt="{{ product.name | escape }}">
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="gallery mobile_only">
    <img src="{{ product.image | product_image_url | constrain: 1500 }}" alt="{{ product.name | escape }}" class="mobile_gallery_viewer">
    <ul class="mobile_gallery">
      {% for image in product.images %}
        {% if forloop.length > 1 %}
          <li class="{% if forloop.first %}active{% endif %}">
            <a href="{{ image | product_image_url | constrain: 1500 }}">
              <img src="{{ image | product_image_url | constrain: 300 }}" alt="{{ product.name | escape }}">
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="detail">
    <h1>{{ product.name }}</h1>
    {% for artist in product.artists %}
      {% if forloop.first %}<p class="artists"> by {% endif %}
      {% if forloop.last and forloop.length > 1 %} and {% endif %}
      {{ artist.name }}
      {% if forloop.length > 2 %}, {% endif %}
      {% if forloop.last %}</p>{% endif %}
    {% endfor %}

    <p class="price">
      {% if product.variable_pricing %}
        {{ product.min_price | money: theme.money_format }} - {{ product.max_price | money: theme.money_format }}
      {% else %}
        {{ product.default_price | money: theme.money_format }}
      {% endif %}
      {% case product.status %}
        {% when 'sold-out' %}
          <i>/ Sold Out</i>
        {% when 'coming-soon' %}
          <i>/ Coming Soon</i>
      {% endcase %}
      {% if product.on_sale %}
        <i>/ On Sale</i>
      {% endif %}
    </p>

    {% if product.status == 'active' %}
      <form method="post" class="add product-form {% if theme.show_sold_out_product_options %}show-sold-out{% else %}hide-sold-out{% endif %}" action="/cart" accept-charset="utf8">
        <input type="hidden" name="utf8" value='✓'>
        {% if product.has_default_option %}
          {{ product.option | hidden_option_input }}
        {% else %}
          {% if product.has_option_groups %}
            <div class="product_option_groups">
              <input id="option" name="cart[add][id]" type="hidden" value="0">
              {% for option_group in product.option_groups %}
                <div class="select">
                  <div class="select-wrapper">
                    <select data-unavailable-text="(Unavailable)" data-sold-text="(Sold out)" data-group-id="{{ option_group.id }}" data-group-name="{{ option_group.name | escape }}" class="product_option_group" name="option_group[{{ option_group.id }}]" aria-label="Select {{ option_group.name | escape }}">
                      <option value="0" disabled="disabled" selected>Select {{ option_group.name }}</option>
                      {% for value in option_group.values %}
                        <option value="{{ value.id }}" data-name="{{ value.name | escape }}">{{ value.name }}</option>
                      {% endfor %}
                    </select>
                    <svg aria-hidden="true" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="14"><path d="M14 1h-1c0-1 0-1 0 0L7 6 1 1c0-1 0-1 0 0H0v1l7 6 7-6V1Z"></path></svg>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="select">
              <div class="select-wrapper">
                <select class="product_option_select" id="option" name="cart[add][id]" aria-label="Select variant">
                  <option value="0" disabled="disabled" selected>Select variant</option>
                  {% for option in product.options %}
                    <option value="{{ option.id }}" data-price="{{ option.price }}"{% if option.sold_out %} disabled="disabled" disabled-type="sold-out"{% endif %}>{{ option.name }} {% if option.sold_out %} (Sold out){% endif %}</option>
                  {% endfor %}
                </select>
                <svg aria-hidden="true" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="14"><path d="M14 1h-1c0-1 0-1 0 0L7 6 1 1c0-1 0-1 0 0H0v1l7 6 7-6V1Z"></path></svg>
              </div>
            </div>
          {% endif %}
        {% endif %}
        <button class="button add add-to-cart-button" name="submit" type="submit" data-add-title="Add to Cart" data-sold-title="Sold out"{% if product.has_default_option %}{% else %}disabled="disabled"{% endif %}>Add to Cart</button>
        {{ store | instant_checkout_button: 'light', '36px' }}
        {% if product.has_option_groups %}
          <div class="reset-selection-button-container">
            <button class="button minimal-button reset-selection-button" type="reset">Reset selection</button>
          </div>
        {% endif %}
      </form>
    {% endif %}

    {% if product.description != blank %}
      <div class="description">
        {{ product.description | paragraphs }}
      </div>
    {% endif %}

    {% if theme.show_inventory_bars %}
      {% case product.status %}
        {% when 'active' %}
          <div class="availability">
            <h2 class="availability-header">Availability</h2>
            <ul>
              {% for option in product.options %}
                <li>
                  {% unless product.has_default_option %}
                    {{ option.name }}
                  {% endunless %}
                  <span class="inventory-status">
                    {% if option.sold_out %}
                      Sold Out
                    {% else %}
                      {{ option.inventory }}%
                    {% endif %}
                  </span>
                  <span class="inventory-level-background" style="width:{{ option.inventory }}%;"></span>
                </li>
              {% endfor %}
            </ul>
          </div>
      {% endcase %}
    {% endif %}
  </div>
</div>
